body {
  /* overlay: hidden; */
  margin: 0px;
  width: 100%;
  height: 100%;
}


#rh {
  top: 0px;
  right: 0px;
  background-color: blue;
}

#rh {
  top: 0px;
  right: 0px;
  background-color: red;
}

.handle {
  display: block;
  position: absolute;
  width: 20px;
  height: 100px;
}

#peg {
  display: block;
  background-color: greenyellow;
  position: absolute;
  top: 100px;
  left: 100px;
  width: 20px;
  height: 20px;
}